body {
	width: 960px;
	margin: auto;
}

#header {
	width: 960px;
	height: 50px;
	margin: auto;
}

#header div {
	margin-top: 20px;
}

#header div #home_link {
	font-size: 30px;
	text-decoration: none;
	color: black;
	float: left;
	margin-top: 0;
}

#header a {
	float: right;
	font-size: 20px;
	text-decoration: none;
	color: red;
	margin: 5px 15px 0 0;
}

#header p {
	text-align: right;
	padding-top: 10px;
}

#content #sidebar {
	width: 245px;
	height: 500px;
	border-radius: 5px;
	border: 1px solid black;
	float: left;
}

#content #sidebar .sidebar_title {
	text-align: center;
	margin-top: 10px;
}

#content #sidebar .topic {
	margin: 20px 0 0 10px;
}

#content #sidebar .recent_entry {
	list-style-type: disc;
	margin: 10px 0 0 10px;
}

#content #sidebar .recent_entry span {
	margin-left: -10px;
}

#content #sidebar .recent_entry span:hover {
	color: red;
	cursor: pointer;
}

#content #main {
	float: right;
	width: 700px;
}

#footer {
	width: 960px;
	height: 50px;
	clear: both;
}

#footer p {
	text-align: center;
	padding-top: 20px;
}
