<!doctype html>
<html>
	<head>
		{% block head %}
		<link rel='stylesheet' href="{{ url_for('custom_static', filename='reset.css') }}">
		<link rel='stylesheet' href="{{ url_for('custom_static', filename='main.css') }}">
		<title>{% block title %}{% endblock %} - Drunkenprost</title>
		{% endblock %}
	</head>
	<body>
		<div id='header'>
			<div>
				<a id='home_link' href='/'>Drunkenprost.com</a>
				{% for topic in ret_dict.topics %}
					<a href="{{ topic }}">{{ topic }}</a>
				{% endfor %}
			</div>
		</div>
		<div id='content'>
			 <div id='sidebar'>
				{% block sidebar %}
					<p>main sidebar</p>
				{% endblock %}
			</div>
			<div id='main'>{% block content %}{% endblock %}</div>
		</div>
		<div id="footer"><p>Drunkenprost | 2016</p><div>
	</body>
</html>
