<!doctype html>
<html>
	<head>
		{% block head %}
		<link rel='stylesheet' href="{{ url_for('custom_static', filename='reset.css') }}">
		<link rel='stylesheet' href="{{ url_for('custom_static', filename='main.css') }}">
		<title>{% block title %}{% endblock %} - Drunkenprost</title>
		{% endblock %}
	</head>
	<body>
		<div id='header'>
			<div>
				<a id='home_link' href='/'>Drunkenprost.com</a>
				{% for topic in ret_dict.topics %}
					<a href="{{ topic }}">{{ topic }}</a>
				{% endfor %}
			</div>
		</div>
		<div id='content'>
			 <div id='sidebar'>
				{% block sidebar %}
					<p class='sidebar_title'>Recent entries</p>
					{% for topic, entries in ret_dict.recent_entries.items() %}
						<p class='topic'>{{ topic }}</p>
						{% for row in entries %}
							<li class='recent_entry' value="{{ row.id }}"><span>{{ row.display_name }}</span></li>
						{% endfor %}
					{% endfor %}
				{% endblock %}
			</div>
			<div id='main'>{% block content %}{% endblock %}</div>
		</div>
		<div id="footer"><p>Drunkenprost | 2016</p><div>
	</body>
</html>
